.Rproj.user
.Rhistory
.RData
export
*.html
readme_cache
readme_files
readme_parts/readme1_files
readme_parts/readme2_files
readme_parts/readme3_files
readme_parts/readme4_files
readme_parts/readme5_files
readme_parts/readme1_cache
readme_parts/readme2_cache
readme_parts/readme3_cache
readme_parts/readme4_cache
readme_parts/readme5_cache
readme_parts/img

